#about {
    padding-top: 2.5em;
    -webkit-border-radius: 9em;
    -moz-border-radius: 9em;
    -o-border-radius: 9em;
    border-radius: 9em;

    #aboutMe {
        color: #e2e2e2;
        font-size: 1.2rem;
        vertical-align: middle;
        display: inline-block;
    }

    .rowContent {
        width:90%;
        margin: auto;
        padding: 2em;
        background-color: rgba(0, 0, 0, 0.75);
    }
}