#art {
    padding-top: 2em;
    display: none;

    img {
        vertical-align: middle;
        border-style: none;
        height: auto;
        width: 100%;
    }

    h3 > a {
        color: #e2e2e2;
    }
}