#home {
    padding: 2em;
    background-color: #bfbfbf99;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    h3 p {
        color: #d2d2d2;
    }
}