
body {
    background: url(../images/aboutBack.png) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;

    .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
    }

    nav {
        background: rgba(255, 255, 255, 0.3);
        position: fixed!important; 
        width: 100%;
        z-index: 5;
    }
 
    #title {
        padding-bottom: 25vw;

        #titleName {
            color: #f7f7f7;
            padding-top: 4.5em;
            font-weight: 800;
        }
        #titleDesc {
            color: #e2e2e2;
        }
    }
}