
body {
    background: url(../images/aboutBack.webp) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;

    .wrapper {
        display: flex;
        width: 100%;
    }
    
    #sidebar {
        position: fixed;
        // transition: all 0.3s;
        display:contents;
    }

    #sidebar > a.active {
        background: #93c1d2
    }

    #sidebar > a {
        background: #6c919f;
    }

    #sidebar > a:hover {
        background-color: #485f68;
    }

    #sidebar > h3 {
        color: #d2d2d2;
    }
}